footer {
  color: $dark-gray;
  padding: 0 11%;

  i,
  a {
    color: $dark-gray;
  }

  .footer-right {
    text-align: right;
    color: $dark-gray;
  }

  .copyright {
    text-align: center;
    margin-top: 50px;
  }
}
