h1 {
  font-family: 'Poiret One', cursive;
}

.single-product #page {
  padding: 0 10%;

  #sidebar {
    display: none;
  }
}

.container {
  padding: 0 10% 2%;
  max-width: 1200px;
}

.hero img {
  max-height: 300px;
  margin: 0 auto;
  overflow: hidden;
}

.blog-image {
  max-width: 30%;
}

