h1 {
  font-family: 'Poiret One', cursive;
}

.single-product #page {
  padding: 0 10%;

  #sidebar {
    display: none;
  }
}

.single-product,
.product-template-default,
.woocommerce,
.blog,
.page,
.page-id-17,
.single-post {
  .container {
    padding: 0 10% 2%;
  }
}

.hero img {
  max-height: 300px;
  margin: 0 auto;
  overflow: hidden;
}

.blog-image {
  max-width: 30%;
}

